<html>
    <head>
        <meta charset="utf-8">
        <title>Places we've been</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    </head>
    <body>
        <h1>TEST</h1>
        <form action="/place_list" method="post">
            <label for="placeInput">Enter a place you have been</label>
            <input id="placeInput" name="placeInput" type="text">
            <button type="submit">SUBMIT</button>
        </form>

        {% if places is not empty%}
            <ul>
                {%for place in places%}
                    <li> {{place.city}}</li>
                {%endfor%}
            </ul>
        {%endif%}
    </body>
</html>
